
.openSlideAnimation {
  animation: 0.2s ease-out slideFromRight;
}
.closeSlideAnimation {
  animation: 2s ease-out  slideFromLeft;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

